*{
    background-color: #88d8b0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
    
}
div{
    align-content: center;
}
div ul{
    display: flex
    flex-direction: column;
    align-items: center;
}


#heading{
    font-size: 60px;
    text-decoration:underline;
    text-decoration-style: dotted;
}


#time{
    font-size: 60px;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


button:hover {
                color:blanchedalmond;
                transition: all;
                transition-duration: 400ms;
             

}


button{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
    padding: 7px 14px;
    border-radius: 20px;
    background-color: #ff6f69 ;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.btn-hidden{
    display : none;
}

@media screen and (max-width: 600px){

    button{
    
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 10px;
        padding: 7px 14px;
        border-radius: 20px;
        background-color: #ff6f69 ;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
    }

    #time{
        font-size: 30px;
        
    }
    
    #heading{
        font-size: 30px;
        text-decoration:underline;
        text-decoration-style: dotted;
    }
    
    
    

}